<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h1 class="text-center">Ready for a Workout?</h1>
    <br />
    <div class="image-container row">
      <img src="/assets/images/start.png" class="img-fluid col-sm" />
    </div>
    <br />
    <div id="start" class="row">
      <a routerLink="/workout" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">
        <span>Start</span>
        <span class="ion-md-play"></span>
      </a>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
