<div class="row">
  <div class="col-sm-6">
    <h1 class="text-center">Ready for a Workout?</h1>
    <br />
    <div class="image-container row">
      <img src="/assets/images/start.png" class="img-fluid col-sm" />
    </div>
    <br />
    <div id="start" class="row">
      <a routerLink="/" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">
        <span>Select a Workout</span>
        <span class="ion-md-play"></span>
      </a>
    </div>
    <br />
    <div id="build" class="row">
      <a routerLink="/builder" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">
        <span>Create a Workout</span>
        <span class="ion-md-add"></span>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <h2>Workouts</h2>
    <form #f="ngForm" name="formWorkout" class="row">
        <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Search for Workout"
                   [(ngModel)]="searchTerm"/>
        </div>
        <div *ngIf="workoutList && workoutList.length > 0">
            <div *ngFor="let workout of workoutList|search:'title': searchTerm|orderBy:'title'" class="workout tile"
                 (click)="onSelect(workout)">
                <div class="title">{{workout.title}}</div>
                <div class="stats">
                    <span class="duration" title="Duration"><span class="ion-md-time"></span> - {{(workout.totalWorkoutDuration? workout.totalWorkoutDuration(): 0)|secondsToTime}}</span>
                    <span class="float-right" title="Exercise Count"><span class="ion-md-list"></span> - {{workout.exercises.length}}</span>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
