<div *ngIf="currentExercise" class="row">
  <div class="row pt-4">
    <div id="description-panel" class="col-sm-3">
      <abe-exercise-description [description]="currentExercise.exercise.description" [steps]="currentExercise.exercise.procedure"></abe-exercise-description>
    </div>
    <div id="exercise-pane" class="col-sm-6">
      <div id="pause-overlay" (click)="pauseResumeToggle()" (window:keyup)="onKeyPressed($event)">
        <span class="pause absolute-center" [ngClass]="{'ion-md-pause' : !workoutPaused, 'ion-md-play' : workoutPaused}"></span>
      </div>
      <h4 class="text-center">Workout Remaining - {{workoutTimeRemaining | secondsToTime}}</h4>
      <h1 class="text-center">{{currentExercise.exercise.title}}</h1>
      <div class="image-container row">
        <img class="img-fluid col-sm" [src]="'/assets/images/' + currentExercise.exercise.image" />
      </div>
      <div class="progress time-progress row">
        <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="exerciseRunningDuration" aria-valuemin="0" [attr.aria-valuemax]="currentExercise.duration"
          [ngStyle]="{'width':(exerciseRunningDuration/currentExercise.duration) * 100 + '%'}">
        </div>
      </div>
      <div class="row">
        <h4 class="col-sm-6 text-left">Time Remaining:
          <strong>{{currentExercise.duration-exerciseRunningDuration}}</strong>
        </h4>
        <h4 class="col-sm-6 text-right" *ngIf="currentExercise.exercise.name=='rest'">Next up:
          <strong>{{workoutPlan.exercises[currentExerciseIndex + 1].exercise.title}}</strong>
        </h4>
      </div>
    </div>
    <div id="video-panel" class="col-sm-3">
      <abe-video-player [videos]="currentExercise.exercise.videos" (playbackStarted)="pause()" (playbackEnded)="resume()"></abe-video-player>
    </div>
  </div>
</div>
