/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ionicons/dist/css/ionicons.min.css";
body {
  font-size: 13px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
}

.image-container {
  margin: 25px auto;
  width: 540px;
  height: 360px;
  cursor: pointer;
}

.video-image {
  height: 165px;
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}

.modal-backdrop.fade {
  opacity: 0.5 !important;
}

#pause-overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
}

#pause-overlay:hover {
  opacity: .8;
}

#pause-overlay .pause {
  font-size: 120pt;
  width: 140px;
  height: 140px;
  color: #4eaded;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*styles for builder content - start*/
.builder-content {
  margin-left: 325px;
}
/*styles for builder content - end*

/*styles for top nav bar - start*/
.top-navbar {
  background-color: #4eaded;
  border-color: #4eaded;
}
.second-top-nav{
  background-color: #0088dc !important;
  color: white;
  height:43px;
  position:fixed !important;
  top:70px !important;
}
.second-top-nav div{
  position:fixed;
  top:81px;
}
  .second-top-nav a {
      color: white !important;
  }

.top-navbar h1 {
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*styles for top nav bar - end*/

/*styles for left nav bar - start*/
.left-nav-bar {
  background-color: #1ba2db;
  min-height: 100%;
  position: fixed;
  margin-top: -14px;
  margin-left:-15px;
  padding-top: 20px;
  text-align: center;
  width:325px !important
}
.left-nav-bar a{
  color:white;
  margin-left:31px;
  margin-bottom: 5px;
  /* font-weight:900; */
  font-size:1rem;
  text-align:center;
  background-color: #995466;
  width:275px;
}
/*styles for left nav bar - end*/

/*styles for left nav exercises bar - start*/
.left-nav-exercises-bar {
  background-color: #1ba2db;
  min-height: 100%;
  position: fixed;
  margin-top: -14px;
  margin-left:-15px;
  text-align: center;
  width:325px !important
}

.left-nav-exercises-bar div{
  top:123px;
  padding-left:5px;
  padding-bottom:5px;
}

.left-nav-exercises-bar span{
  padding-left:10px;
}

.left-nav-exercises-bar button{
  background-color:#995466;
  color:white;
  text-align:center;
  width:275px;
  max-width: 275px;
}

.left-nav-exercises-bar button:hover{
  background-color:#ffffff;
  color:black;
  text-align:center;
}

.left-nav-exercises-bar h3{
  padding-top:20px;
  top:123px;
  text-align:center
}
.left-nav-exercises-bar a{
  background-color:#995466;
  color:white;
  text-align:center;
}
/*styles for left nav bar - end*/

/*Workout Builder Styles*/
#left-nav-exercises button {
  margin-bottom:4px;
}
#left-nav-exercises button .span {
  margin-left:6px;
}
.exercise-item.ng-enter,
.exercise-item.ng-move {
  -webkit-animation: zoomIn 0.5s;
  -moz-animation: zoomIn 0.5s;
  -ms-animation: zoomIn 0.5s;
  animation: zoomIn 0.5s;
}
.exercise-item.ng-leave {
  -webkit-animation: fadeOut 0.25s;
  -moz-animation: fadeOut 0.25s;
  -ms-animation: fadeOut 0.25s;
  animation: fadeOut 0.25s;
}
/*Workout Builder Styles - end*/

/*styles for tile - start*/
.exercise.tile {
  width:320px;
  height:226px;
  color:white;
  margin-bottom:10px;
  background:#61b9ff;

}

.exercise.tile .title {
  width:inherit;
  background:#9d4a9c;
  font-size:14pt;
  padding:5px;
}
.exercise.tile .index{
  width:40px;
  float:left;
  font-size:20pt;
  text-align:center;
  padding-top:10px;
}
.exercise.tile .order{
  width:53px;
  float:right;
}
.exercise.tile .main {
  width:225px;
  float:left;
  padding:4px;
}
.exercise.tile img{
  width:100%;
  height:120px;
}

.workout.tile {
  width: 300px;
  height: 80px;
  background: #5bc0de;
  color: white;
  padding:10px;
  margin-bottom:10px;
}
.workout.tile:hover{
  background:#1D89CF;
}

.workout .title{
  font-size: 20pt;
  text-align: center;
}
.workout .stats{
  font-size: 12pt;
  padding:0 10px 0 10px;
}

.exercise-tile {
  width: 300px;
  height: 50px;
  background: #5bc0de;
  color: white;
  padding:5px;
  margin-bottom:10px;
  font-size: 18pt;
  text-align: center;
}
.exercise-tile:hover {
  background:#1D89CF;
}
/*styles for tile- end*/

.workout-container{
  position:fixed;
  left:350px;
  height:calc(100vh - 75px - 50px);
  overflow-y:auto;
  overflow-x: hidden;
  width:100%;
}

.workout-data{
  padding-left: 30px;
  max-width: 400px;
  min-width: 400px;
  width: 400px;
}

.workout.tile {
  width: 300px;
  height: 80px;
  background: #5bc0de;
  color: white;
  padding:10px;
  margin-bottom:10px;
}
.workout.tile:hover{
  background:#1D89CF;
}

.workout .title{
  font-size: 20pt;
  text-align: center;
}
.workout .stats{
  font-size: 12pt;
  padding:0 10px 0 10px;
}

.list-title{
  max-width:300px;
}

.exercise-list{
  min-width: 350px;
}

.exercise-tile {
  width: 300px;
  height: 50px;
  background: #5bc0de;
  color: white;
  padding:5px;
  margin-bottom:10px;
  font-size: 18pt;
  text-align: center;
}
.exercise-tile:hover {
  background:#1D89CF;
}

.exercises-container{
  position:fixed;
  left:350px;
  height:85%;
  overflow-y:auto;
  width:100%;
}

.exercise-container{
  position:fixed;
  height:90%;
  overflow-y:auto;
  width:100%;
}

.exercise-data{
  padding-left: 30px;
  max-width:500px;
}

.exercise-video{
  padding-left: 30px;
  max-width:500px;
}

.img-preview{
  width:250px;
  height:250px
}

.exercises-leftnav-container{
  position:fixed;
  /* left:250px; */
}

.trashcan {
  font-size:30px;
  margin-right:-12px;
  margin-top: -16px;
}

.order{
  padding:5px;
}

.tile-outside-button{
  margin-bottom:2px;
  padding-right:9px;
  background: #5bc0de;
}

.tile-inside-button{
  margin-bottom:2px;
  background: #5bc0de;
}

.badge-pill{
  padding-top:5px;
  padding-bottom:5px;
  margin-left:5px;
}

.not-found-msgbox{
  margin-bottom: 20px;
  width: 300px;
  border-color: red;
  background-color: red;
  padding: 20px;
  font-size: 11pt;
  color: white;
  font-weight: bold;
}
