/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  font-size: 13px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
}

.image-container {
  margin: 25px auto;
  width: 540px;
  height: 360px;
  cursor: pointer;
}
.video-image {
  height: 165px;
}

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}